# dependency files
*.d

# bin/lib output dirs
bin/
lib/

# compiled object files
*.a
*.o
*.so

# ctags
tags

# executables
src/file_reader/file_reader
test/test-runner

# build system artifacts
src/version.hpp
