# dependency files
*.d

# dist dirs
bin/
include/
lib/

# compiled object files
*.a
*.o
*.so

# ctags
tags

# build system artifacts
src/version.h
benchmark/benchmark-runner
test/test-runner

# project executables
golang/cppgen
src/main/parser

# third party code that is built and installed
third_party/google-benchmark-clang
third_party/google-benchmark-gcc

# generated code
src/protocol/itch/itch.cppgen.hpp
